.container {
    min-width: fit-content;

}

.about {
    min-width: 100%;
    margin-top: 200px;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 3s ease, transform 2s ease;
}

.about-opacity {
    opacity: 1;
    transform: translateX(0);

}

.about-title p {
    font-size: max(2vw, 22px);
    font-weight: 600;
    text-align: center;
}

.about-title span {
    color: #892f0f;
}

.about-image img {
    width: max(30vw, 200px);


}

.about-info {
    background-color:#892f0f;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

    justify-items: center;

    gap: 250px;

}

.about-paragraph p {
    font-size: max(1.5vw, 25px);
    font-weight: normal;
    
    width: 70%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-paragraph a {
    display: inline-block;
    width: max(10vw, 150px);

    text-align: center;
    text-decoration: none;
    height: 30px;
    align-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: max(1.1vw, 18px);
    font-weight: 600;
    color: red;
    margin-top: 50px;
    border: 1px solid white;
}

@media (max-width:1050px) {
    .about-info {
        gap: 20px;
        flex-wrap: wrap;


    }
    .about-paragraph{
        justify-items: center;
    }
    .about-image img{
        width: 350px;
    }

}

/* contact*/

.contact {
    width: 100%;
    background-color:#892f0f;
    
}