body {
    background-color: rgb(237, 235, 235);


}

.section {
    width: 100%;
    height: 100%;
    margin-left: auto;

}



.section-heading {
    justify-items: center;
}

.section-heading span {
    font-family: bree sarif;
    font-size: max(2.5vw, 15px);
    animation: fadein 5s ease-in;
    color: rgb(124, 125, 126);
}

.section-heading p {
    margin: 0;
    margin-top: 90px;
    font-family: bree sarif;
    width: 95%;
    text-align: center;
    font-size: max(15vw, 45px);
    margin-left: auto;
    animation: fadein 3s ease-in;
    transition: transform 0.2s;
    color: black;
}



.section-heading span:hover {
    color: black;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 9ch
    }

    /* Adjust based on character count */
}

.new-section {
    width: 100%;
    background-color: rgb(238, 236, 236);
    margin-top: 150px;
    border-radius: 25px;



}

.new-section:hover {
    box-shadow: rgb(255, 255, 255) 2px 2px 2px 2px;

}

.new-section-hr {
    width: 55px;
    height: 5px;
    background-color: white;
    border: none;
}

.new-section-headind-one {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: max(1.5vw, 15px);


}

.new-section-headind-one h2 {
    margin-top: 50px;
}

.section-scroll {
    height: 100vh;
    width: 100vw;

}

.box {
    width: 400px;
    height: 400px;
    margin: auto 0;
    border: 1px solid tomato;
    border-radius: 25px;
}

.white {
    background-color: aliceblue;
    border: none;
}

.skill-sections {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 3s ease, transform 3s ease;
    padding: 20px;
}

.opacity {
    opacity: 1;
    transform: translateX(0);
}

.logo-boxes img {
    width: max(1vw, 60px);
}

.logo-boxes {
    width: 70%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;

}
.logo-boxes img{
    justify-items: center;
}

.logo-boxes p {
    font-size: max(0.8vw, 10px);
    font-weight: 900;
}

.logo-boxes div {
    width: max(13vw, 120px);
    border-radius: 10px;
   text-align: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    z-index: -10;


}

.logo-boxes div:hover {
    box-shadow: rgb(117, 116, 116) 2px 2px 2px 2px;
    transform: scale(1.1);
}

.react-box:hover img {
    animation: react 2s ease-in-out infinite;
}

@keyframes react {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@media (max-width:1050px) {
    .logo-boxes {
        width: 100%;
    }

}